@use "variables";

%btn-patterns {
  display: inline-block;
  font-family: variables.$primary-font;
  padding: 1.6rem 2.7rem;
  border-radius: 12.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-primary {
  @extend %btn-patterns;
  color: #855b35;
  background-color: variables.$brand-yellow;

  &:hover {
    background-color: #ffdc5c;
  }
}

.btn-secondary {
  @extend %btn-patterns;
  color: variables.$brand-light-blue;
  border: 0.1rem solid variables.$brand-light-blue;

  &:hover {
    background-color: variables.$brand-light-blue;
    color: variables.$white;
  }

  &.isWhite {
    color: variables.$white;
    border: 0.1rem solid variables.$white;

    &:hover {
      background-color: variables.$white;
      color: variables.$brand-light-blue;
    }
  }
}

.card {
  background-color: variables.$gray-100-opacity;
  padding: 3.7rem 3.2rem;
  width: 100%;
  max-width: 38.4rem;
  border-radius: 0.8rem;
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.1rem;
    p {
      font-weight: 700;
      line-height: 112%;
      font-size: 1.8rem;
    }
  }
  .card-description {
    color: variables.$gray-400;
    font-size: 1.8rem;
  }
}
