@use "variables";

header {
  height: 8.8rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.204);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    align-items: center;
    gap: 5.9rem;
    ul {
      display: flex;
      gap: 4.8rem;
      li {
        a {
          color: variables.$white;
          font-size: 1.6rem;
        }
      }
    }
    .btn-mobile {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .header-navigation {
      .btn-mobile {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }

  @media (max-width: 600px) {
    .header-navigation {
      .btn-secondary {
        display: none;
      }
    }
  }
}
