@use "variables";

header {
  height: 8.8rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.204);
  z-index: 10;
  transition: all 0.3s;
  &.active {
    background-color: variables.$brand-blue;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .header-navigation {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5.9rem;
    ul {
      display: flex;
      gap: 4.8rem;
      li {
        a {
          color: variables.$white;
          font-size: 1.6rem;
          transition: all 0.3s;
          &:hover {
            color: variables.$brand-yellow;
          }
        }
      }
    }
    .btn-mobile {
      display: none;
    }
    .dropdown {
      position: absolute;
      top: 90px;
      background-color: #fff;
      width: 100%;
      max-width: 37.3rem;
      border-radius: 0.8rem;
      opacity: 0;
      pointer-events: none;
      margin-top: -5rem;
      transition: all 0.3s;
      &.active {
        margin-top: 0;
        opacity: 1;
        pointer-events: all;
      }
      .content {
        padding: 2rem 0;
        max-width: 29.8rem;
        margin: 0 auto;
        border-bottom: 0.5rem solid #ffdc5c;
        ul {
          display: flex;
          flex-direction: column;
          gap: 2.8rem;
          li {
            h3 {
              color: variables.$gray-400;
              font-size: 1.6rem;
              &:hover {
                cursor: pointer;
                color: variables.$brand-blue;
              }
            }
            p {
              color: #8c8a97;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  .area-menu {
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    .menu-mobile {
      transition: all 0.3s;
      margin-left: -100%;
    }
    &.active {
      .menu-mobile {
        margin-left: 0;
      }
      opacity: 1;
      pointer-events: all;
    }
  }

  @media (max-width: 991px) {
    .header-navigation {
      .btn-mobile {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }

  @media (max-width: 600px) {
    .area-menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.151);
      z-index: 999 !important;
      .menu-mobile {
        background-color: variables.$brand-blue;
        width: 40rem;
        height: 100vh;
        padding: 1.8rem;
        .header-navigation {
          ul {
            margin-top: 8rem;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            li {
              a {
                color: aliceblue;
              }
            }
          }
        }
      }
    }
    .header-navigation {
      .btn-mobile {
        z-index: 3;
      }
      .btn-secondary {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    .area-menu {
      .menu-mobile {
        width: 30rem;
      }
    }
  }
}
